absl-py==1.2.0
aiosignal==1.2.0
ale-py==0.7.5
asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
cffi==1.15.1
charset-normalizer==2.1.1
click==8.0.4
cloudpickle==2.1.0
cycler==0.11.0
Cython==0.29.32
debugpy==1.6.3
decorator==5.1.1
distlib==0.3.6
dm-control==1.0.5
dm-env==1.5
dm-tree==0.1.7